<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${project.build.directory}/test.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>

</configuration>